# The usual suspects
__pycache__/
venv/
build/
dist/
personal*/
*_cache

# Fetch directory should not be committed
sources/fetched/

# Dist
*.egg-info/
*.pyc

# Never Save Non PEM certificates
*.crt
*.cer
*.jks
*.p12
*.der
*.json
*.hash
*.p7b
